<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.nexacro_xapi.api.mapper.ProjectMapper" >
    <insert id="getAll"
            parameterType="com.example.nexacro_xapi.entity.employee.ProjectEntity">
        Insert into vla ba
    </insert>
</mapper>