<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.nexacro_xapi.mapper.User.EmployeeMapper" >
    <select id="getAll"
            parameterType="com.example.nexacro_xapi.entity.UserEntity"
            resultType="com.example.nexacro_xapi.entity.UserEntity">
        SELECT
            id,
            name,
            age,
            address,
            role
        FROM
            tb_employee
        <where>
            1 = 1
            <if test="name != null and name != ''">
             AND   name like '%' || #{name} || '%'
            </if>
        </where>
    </select>

    <select id="findUsersByUsernameAndPassword"
            parameterType="com.example.nexacro_xapi.entity.UserEntity"
            resultType="com.example.nexacro_xapi.entity.UserEntity">
        SELECT
            count(USR_NM)
        from
            TB_USER
        <where>
                AND   USR_NM = #{userName}
                and   USR_PWD = #{passWord}
        </where>
    </select>

    <select id="getUserByUserName"
            parameterType="com.example.nexacro_xapi.entity.UserEntity"
            resultType="com.example.nexacro_xapi.entity.UserEntity">
        SELECT
            A.USR_ID,A.USR_NM,B.ROLE_NM,A.USR_YN,A.LAST_CHG_DT,A.LAST_LOGIN
        from
            TB_USER A and TB_ROLE B
        <where>
            AND  A.ROLE_ID = B. ROLE_ID
            AND   A.USR_NM = #{userName}
        </where>
    </select>

    <update id="updateTimeLoginUser"
            parameterType="com.example.nexacro_xapi.entity.employee.UserEntity">
        UPDATE TB_USER
        SET LAST_LOGIN = SYSDATE
        WHERE USERNAME = #{username}
    </update>

    <insert id="insertUser"
            parameterType="com.example.nexacro_xapi.entity.employee.UserEntity">
        INSERT INTO TB_USER (
            USR_ID,
            USR_NM,
            USR_PWD,
            USR_ADDRESS,
            USR_YN,
            CREATE_ID,
            CREATE_DT,
            LAST_CHG_ID,
            LAST_CHG_DT,
            LAST_LOGIN,
            GROUP_ID,
            ROLE_ID,
            taskList
        )VALUES {
            #{USR_ID},
            #{USR_NM},
            #{USR_PWD},
            "",
            "1",
            SYSDATE,
            SYSDATE,
            #{USR_ID},
            SYSDATE,
            SYSDATE,
            "",
            #{ROLE_ID},
            ""
        }
    </insert>
</mapper>